html,
body {
    height: 100%;
    font-size: 1rem;
    font-family: "Montserrat", sans-serif;
}


.gradient {
    background: rgb(7, 89, 172);
    background: linear-gradient(45deg, rgba(7, 89, 172, 1) 13%, rgba(38, 174, 201, 1) 51%, rgba(6, 204, 254, 1) 96%);
}

.page-header {
    margin-top: 3.5rem;
    font-size: 1.25rem;
    color: #ffffff;
}

.navbar-nav > li{
    padding-left:30px;
    padding-right:30px;
  }
  

/* .coreFeatures ul {
        display: flex;
        align-items: stretch;
        justify-content: space-between;
        width: 100%;
        margin: 0;
        padding-top: 2rem;
        padding-bottom: 3rem;
        
}

.coreFeatures ul li {
    padding-left: 2rem;
    background-image: url(../planewise/Assets/connecting_airports_black_24dp.svg);
    background-repeat: no-repeat;
} 
*/


.features {
    color: #ffffff;

}

.features ul {
    padding-left: 2rem;
}

.icon {
    color: #ffffff;
    height: 5rem;
    width: 5rem;
    font-size: 1.75rem;
    border-radius: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.gallery {
    background-color: rgba(206, 206, 206, 0.666);

}

.gallery img {
    border-radius: 5%;
}

.services {
    color: #ffffff;

}

footer {
    color: #ffffff;
    font-size: 1rem;
    margin: 0;
    margin-top: 3rem;
    padding: 1rem;
}

a {
    color: #ffffff;
    text-decoration: none;
}