html,
body {
    height: 100%;
    font-size: 1rem;
    font-family: "Montserrat", sans-serif;
}


.gradient {
    background: rgb(7,89,172);
    background: linear-gradient(45deg, rgba(7,89,172,1) 13%, rgba(38,174,201,1) 51%, rgba(6,204,254,1) 96%); 
}

.page-header {
    margin-top: 3.5rem;
    font-size: 1.25rem;
    color: #ffffff;
}

.coreFeatures ul {
        display: flex;
        align-items: stretch; /* Default */
        justify-content: space-between;
        width: 100%;
        margin: 0;
        padding-top: 2rem;
        padding-bottom: 3rem;
        
}

.coreFeatures ul li {
    padding-left: 2rem;
    background-image: url(../planewise/Assets/connecting_airports_black_24dp.svg);
    background-repeat: no-repeat;
}


.features {
    color: #ffffff;

}

.features ul {
    padding-left: 2rem;
}
